.About span {
  color: #bae8e8;
  font-size: larger;
}

.Container {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
}

.RolesWrap, .TechStack {
  align-items: center;
  padding-top: 1vh;
  display: flex;
  flex-wrap: wrap;
}

.Role {
  padding:15px;
}

.TechStack a {
  color: #e3f6f5;
}

.Level {
  padding: 2px;
  color: #e3f6f5;
}
