.Footer {
  align-items: center;
  bottom: 1.5vh;
  height: 5vh;
  justify-content: center;
}

.Footer span {
  font-size: 1.5vh;
  padding-top: 2.2vh;
  text-decoration: underline;
}

.Connect img {
  height: 1.5vh;
}

.Nav-Bar {
  font-size: 1.5vh;
  margin: 30px;
}

.Nav-Bar a, .Nav-Bar span {
  background-position-y: -4px;
  background-position-x: 8px;
  background-image: linear-gradient(180deg,transparent 75%, #ff4b5c);
  background-repeat: no-repeat;
  transition: .15s ease;
  text-decoration: none;
}

.Nav-Bar a:hover, .Nav-Bar span:hover{
  padding-right: 4px;
  padding-bottom: 2px;
}

.Nav-Bar span {
  cursor: pointer;
  margin: 10px;
}
