.Header {
  top: 2vh;
}

.Designation {
  color: #017980;
  font-size: calc(2vmin);
}

.Location {
  color: #758080;
  font-size: calc(1.5vmin);
  padding-top: 0.2vh;
}

.Location-Icon {
  height: 1.1vh;
  padding-right: 0.2vw;
}

.Profile-Picture {
  height: 15vh;
  margin-top: 0.6vh;
}

.Title {
  margin: 2vh;
  padding: 2vh 10vh;
}
