.Header {
  top: 2vh;
}

.Name {
  font-size: 2.5vh;
}

.Designation {
  color: #2c698d;
  font-size: 2vh;
}

.Location {
  color: #272643;
  font-size: 1.5vh;
  padding-top: 0.2vh;
}

.Location-Icon {
  height: 1.1vh;
  padding-right: 0.2vw;
}

.Headshot img {
  height: 15vh;
  margin-top: 0.6vh;
  opacity: 0.97;
}

.Title {
  margin: 2vh;
  padding: 2vh 10vh;
}
