.App {
  align-items: center;
  background-color: #bae8e8;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.Content {
  font-size: medium;
  height: fit-content;
  position: relative;
  text-align: left;
  top: 15vh;
  width: 48vw;
}

.Content a {
  color: #e3f6f5;
}
