.Organization {
  display: flex;
  flex-direction: column;
}

.Org-Title a {
  color: #2c698d;
}

.Duration {
  font-size: small;
  text-align: right;
  float: right;
}

.Projects {
  font-size: small;
  list-style-type: none;
}

.Projects p {
  padding-left: 10px;
}

.Projects a {
  margin: 0;
}

.Projects span {
  text-decoration: underline;
}

.Stack {
  font-size: small;
}
