.App {
  align-items: center;
  background-color: #00adb5;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.Canvas {
  background-color: #222831;
  box-shadow: 0 0 10px 0px #222831;
  margin-top: 5vh;
  width: 100vw;
  height: 87vh;
}

.Card-Overlay {
  background-color: #e9f1f3;
  box-shadow: 0 0 10px 0 #222831;
  color: #222831;
  height: 15vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 80vh;
  z-index: 99;
}

.Designation {
  color: #00adb5;
  font-size: calc(2vmin);
}

.Footer {
  bottom: 1.3vh;
  height: 8vh;
  justify-content: center;
}

.Footer span {
  text-decoration: underline;
  padding-top: 4vh;
  font-size: medium;
}

.Header {
  top: 1.3vh;
}

.Location {
  color: #758080;
  font-size: calc(1.5vmin);
  padding-top: 0.2vh;
}

.Profile-Picture {
  margin-top: 0.6vh;
  height: 15vh;
}

.Location-Icon {
  height: 1.1vh;
  padding-right: 0.2vw;
}

.Title {
  margin: 2vh;
  padding: 2vh 10vh;
}

.Nav-Bar {
  font-size: medium;
  position: relative;
  right: 35vw;
  text-align: left;
  top: 1.6vh;
  width: 15vw;
}

.Connect {
  left: 35vw;
  position: relative;
  top: -1vh;
  width: 15vw;
}

.Connect img {
  height: 1.5vh;
}

.Arrow {
  height: 2vh;
  position: absolute;
  top: 1vh;
}
