.App {
  align-items: center;
  background-color: #00adb5;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.Canvas {
  background-color: #222831;
  box-shadow: 0 0 10px 0px #222831;
  margin: 5vh;
  width: 160vh;
  height: 90vh;
}

.Card-Overlay {
  background-color: #e9f1f3;
  box-shadow: 0 0 10px 0 #222831;
  color: #222831;
  height: 18vh;
  position: absolute;
  width: 80vh;
  z-index: 99;
}

.Header {
  top: 0px;
}

.Footer {
  bottom: 0px;
}
