:root {
  --primary-color: #ff5252;
  --secondary-color: #FDFDFB;
  --tertiary-color: #F6F2E6;
  --font-color: #393b44;
  --font-family: 'Helvetica';
  --shadow-config: 0px 0px 5px 2px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background-color: var(--tertiary-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 10px;
}

h2 {
  color: var(--primary-color);
  font-size: 1.3em;
  margin: 10px;
}

a {
  color: var(--font-color);
  cursor: pointer;
}

.App {
  background-color: var(--secondary-color);
  box-shadow: var(--shadow-config) var(--secondary-color);
  padding: 30px;
  width: 60vw;
}

.Headshot {
  border-radius: 50%;
  box-shadow: var(--shadow-config) var(--primary-color);
  height: 15vh;
}

.Headshot:hover {
  animation:bounceOut .7s linear;
}

.Canvas {
  text-align: left;
  margin: 10px 30px;
}

.Connect img {
  height: 1.5vh;
  margin: 10px;
}

.Nav-Bar {
  font-size: 1.5vh;
  margin: 15px;
}

.Nav-Bar a, .Nav-Bar span {
  background-image: linear-gradient(180deg,transparent 75%, var(--primary-color));
  background-position-x: 8px;
  background-position-y: -4px;
  background-repeat: no-repeat;
  margin: 10px;
  text-decoration: none;
  transition: .15s ease;
}

.Nav-Bar a:hover, .Nav-Bar span:hover{
  padding-right: 4px;
  padding-bottom: 2px;
}

.Nav-Bar span {
  cursor: pointer;
  margin: 10px;
}

.Organization {
  display: flex;
  flex-direction: column;
}

.Org-Title a {
  color: var(--primary-color);
}

.Duration {
  font-size: smaller;
}

.Projects {
  list-style-type: none;
}

.Projects span {
  text-decoration: underline;
}

.Stack {
  font-size: small;
}

.Tag {
  margin: 1px;
  color: var(--primary-color);
  font-family: "Comic Sans MS", sans-serif;
  opacity: 0.7;
  font-size: x-small;
  text-align: left;
  letter-spacing: 0.1em;
}

.Pull-Right {
  float: right;
  text-align: right;
}

@keyframes bounceOut {
  0%{ box-shadow: 0px 0px 10px 2px var(--primary-color); opacity:1;}
  25%{ box-shadow: 0px 0px 10px 1px var(--primary-color); opacity:1;}
  50%{ box-shadow: 0px 0px 10px 7px var(--primary-color); opacity:1; }
  75%{ box-shadow: 0px 0px 10px 1px var(--primary-color); opacity:1;}
  100%{ box-shadow: 0px 0px 10px 2px var(--primary-color); opacity:1;}
}
